body {
  display: flex;
  background-color: #000;
  color: #fff;
  height: 100vh;
  margin: 0;
}
#audioControls {
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100%;
  width: 35%;
}
#divVis {
  width: 65%;
  height: 100%;
  background-color: rgba(124, 10, 200, 0);
  display: flex;
  flex-direction: column;
  transform: rotate(0deg);
}
.visualizer {
  width: 100%;
  height: 50%;
  z-index: 0;
  /* border: #ffffff solid; */
}

#trackList {
  max-height: 85%;
  z-index: 5;
  padding: 0;
  height: 80%;
  margin: 0;
  list-style-type: none;
  overflow-y: auto;
  direction: rtl;
  width: 100%;
  border-top: rgba(124, 10, 200, 0.5) solid 0.2em;
  border-bottom: rgba(124, 10, 200, 0.5) solid 0.2em;
  background-color: #000;
}
#trackList::-webkit-scrollbar {
  width: 0.2em;               /* Ширина вертикального скроллбара */
  background-color: rgba(124, 10, 200, 0.5);  /* Фон скроллбара */
}
#trackList::-webkit-scrollbar-thumb {
  background-color: rgba(124, 10, 200, 1);    /* Цвет ползунка */
  border-radius: 0.1em;        /* Скругление углов */
}
li {
  display: flex;
  aspect-ratio: 6 / 1;
  width: calc(100% - 0.2em);
  flex-direction: row-reverse;
  border: rgba(124, 10, 200, 0.5) solid 0.2em;
  border-top: none;
  border-left: none;
  cursor: pointer;
}
img {
  aspect-ratio: auto 1 / 1;
  height: 100%;
}
.divLi {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: end;
  margin-left: 5%;
}
#h1 {
    z-index: 5;
}
#audioPlayer {
  z-index: 5;
  width: 80%;
  min-height: 5%;
}





@media screen and (max-aspect-ratio: 1 / 1) {
  body {
    flex-direction: column;
  }
  #audioControls {
    height: 40%;
    width: 100%;
  }
  li {
    
    height: 40%;
  }
  #divVis {
    width: 100%;
    height: 60%;
  }
  #trackList {

  }
}